.bg-lightbtn {
    background-color: rgba(255, 255, 255, 0.15);
}

.container-1218 {
    max-width: 1218px;
    padding: 0 20px;
}


.marquee1-group {
    animation: marquee 45s linear infinite;
}

.marquee2-group {
    animation: marquee2 45s linear infinite;
}

.trapezoid {
    max-width: 240px;
    height: 60px;
    /* border-left: 100px solid transparent; */
    /* border-right: 50px solid transparent; */
    clip-path: polygon(0% 0%, 100%  15%, 100% 100%, 0% 90%);
    align-content: center;
    /* color:  var(--color-primary) !important; */
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:larger;

    /* border-bottom: 100px solid;  */
    background-color: var(--color-lightprimary);

    /* Change color as needed */
}


@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-2086px, 0, 0);
    }
}

@keyframes marquee2 {
    0% {
        transform: translate3d(-2086px, 0, 0)
    }

    100% {
        transform: translate3d(0, 0, 0)
    }
}