
.editorContent div {
    min-height: 500px;
    padding: 12px;
}

.editorContent div:focus {
    background-color: transparent;
    outline: none;
    /* Ensures no outline on focus */
    box-shadow: none;
}